
<!doctype html>
<head>

  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>



  <meta name="keywords" content=""/>
  <meta name="robots" content="index, follow"/>


  <meta name="copyright" content="">


  <link rel="shortcut icon" href="/images/favicon.ico">


  <meta name="viewport" content="user-scalable=0, initial-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes" />

  <link rel="stylesheet" href="/stylesheets/style.css">
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Montserrat:700,400' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/stylesheets/jquery.fancybox.css" type="text/css" media="screen" />


</head></head>

<body>
<!----- start-header---->
<div id="home" class="header">
  <div class="top-header">
    <div class="container">
      <div class="logo">
        <a href="#"><img src="images/logo.png" title="Johndeo" /></a>
      </div>
      <!----start-top-nav---->
      <nav class="top-nav navbar-fixed-top">
        <ul class="top-nav">
          <li><a href="#home" class="scroll">Home</a><span> </span></li>
          <li><a href="#about" class="scroll">Sobre MCS Consoultorios</a></li>
          <li><a href="#services" class="scroll">Services</a></li>
          <li><a href="#work" class="scroll">MY work</a><span> </span></li>
          <li><a href="#contact" class="scroll">contact ME</a></li>
          <div class="clearfix"> </div>
        </ul>
        <a href="#" id="pull"><img src="images/nav-icon.png" title="menu" /></a>
      </nav>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
<!----- //End-header---->



<!----banner---->
<div class="banner">
  <!---- banner-info ---->
  <div class="banner-info text-center">
    <p>Lorem ipsum dolor sit iusmod tempor </p>
    <h1>incididunt bore</h1>
    <span>Orem ipsum dolor sit amet, consectetur</span>
    <label> </label>
    <div class="clearfix"> </div>
    <a class="bannner-btn" href="#">KNOW MORE</a>
  </div>
  <!-- //banner-info ---->
</div>
<!--//banner---->







<!---- about --->
<div id="about" class="about">
  <div class="about-head text-center">
    <div class="container">
      <h2>Sobre MCS Consoultorios</h2>
      <span> </span>
      <p>Nuestro personal egresado de las
        carreras de contabilidad y
        administraci?n de empresas, est?
        entrenado para lograr los
        requerimientos de nuestros
        clientes y asegurar la calidad de
        nuestros servicios.</p> </div>
  </div>


  <!--- about-grids --->
  <!--<div class="about-grids text-center">-->
    <!--<div class="container">-->
      <!--<div class="col-md-3 about-grid">-->
        <!--<span class="light-icon"> </span>-->
        <!--<h3><a href="#">Title goes here</a></h3>-->
        <!--<p>onsectetur adipisicing elit, sedo eiusmod tempor incidiet dolorerserss eerhfre mag.</p>-->
        <!--<label> </label>-->
      <!--</div>-->
      <!--<div class="col-md-3 about-grid">-->
        <!--<span class="pen-icon"> </span>-->
        <!--<h3><a href="#">Title goes here</a></h3>-->
        <!--<p>onsectetur adipisicing elit, sedo eiusmod tempor incidiet dolorerserss eerhfre mag.</p>-->
        <!--<label> </label>-->
      <!--</div>-->
      <!--<div class="col-md-3 about-grid">-->
        <!--<span class="cog-icon"> </span>-->
        <!--<h3><a href="#">Title goes here</a></h3>-->
        <!--<p>onsectetur adipisicing elit, sedo eiusmod tempor incidiet dolorerserss eerhfre mag.</p>-->
        <!--<label> </label>-->
      <!--</div>-->
      <!--<div class="col-md-3 about-grid">-->
        <!--<span class="mon-icon"> </span>-->
        <!--<h3><a href="#">Title goes here</a></h3>-->
        <!--<p>onsectetur adipisicing elit, sedo eiusmod tempor incidiet dolorerserss eerhfre mag.</p>-->
      <!--</div>-->
      <!--<div class="clearfix"> </div>-->
    <!--</div>-->
  <!--</div>-->
  <!--- about-grids --->
</div>
<!----//about --->


<!--- services ---->
<div id="services" class="services">
  <!---services-grids--->
  <div class="services-grids">
    <div class="col-md-6 services-grid-left">
      <div class="service-head">
        <!--<h2>SERVICIOS</h2>-->
        <!--<span> </span>-->
        <p>Nuestra firma ha concentrado sus recursos en
          proveer asistencia financiera a corporaciones
          internacionales que se han establecido en
          Republica Dominicana, asegurando el
          cumplimiento con la legislaci&oacute;n local. Servicios que incluimos:</p>


      </div>
      <!----- services-grid-left-grids ---->
      <hr/>
      <div class="services-grid-left-grids">

        
        <div class="col-md-6 services-grid-left-grid">

          <i class="fa fa-calculator fa-2x"></i><br/>
          <h4>Contabilidad</h4>
          <p>incluyendo reportes financieros
            requeridos por la Casa Matriz.</p>

        </div>
        <div class="col-md-6 services-grid-left-grid">
          <i class="fa fa-group fa-2x"></i>
          <h4>Administraci&oacute;n de N&oacute;minas</h4>
          <p>y retenciones</p>

        </div>
        <div class="col-md-6 services-grid-left-grid">

          <i class="fa fa-search fa-2x"></i><br/>
          <h4>Auditoria Operativa</h4>

        </div>
        <div class="col-md-6 services-grid-left-grid">
          <i class="fa fa-money fa-2x"></i><br/>
          <h4>Organizaci&oacute;n y liquidaci&oacute;n de empresas.</h4>

        </div>
        <div class="col-md-6 services-grid-left-grid">
          <i class="fa fa-gears fa-2x"></i><br/>
          <h4>Dise&#328;o e implementaci&oacute;n de sistemas de
              informaci&oacute;n financiera.</h4>

        </div>
        <div class="col-md-6 services-grid-left-grid">
          <i class="fa fa-book fa-2x"></i><br/>
          <h4>Evaluaci&oacute;n y dise&#328;o de estructura de controles
              internos.</h4>

        </div>

      </div>
      <!----- services-grid-left-grids ---->
    </div>
    <div class="col-md-6 services-grid-right">

    </div>
    <div class="clearfix"> </div>
  </div>
  <!---services-grids--->




</div>
<!---//services ---->
<!---- works ---->
<div id="work" class="works">
  <div class="conatiner">
    <div class="works-head text-center">
      <h2>Nuestros Clientes</h2>
      <span> </span>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
  <!---works-grids--->
  <div class="works-grids">
    <div class="works-grid col-md-3">
      <img src="images/w1.jpg" title="name" />
      <div class="caption">
        <h4>Title goes here</h4>
        <p>onsectetur adipisicing elit, sedo eiusmod tempor incidiet dolorerserss eerhfre mag.</p>
      </div>
    </div>
    <div class="works-grid col-md-3">
      <img src="images/w2.jpg" title="name" />
      <div class="caption">
        <h4>Title goes here</h4>
        <p>onsectetur adipisicing elit, sedo eiusmod tempor incidiet dolorerserss eerhfre mag.</p>
      </div>
    </div>
    <div class="works-grid col-md-3">
      <img src="images/w3.jpg" title="name" />
      <div class="caption">
        <h4>Title goes here</h4>
        <p>onsectetur adipisicing elit, sedo eiusmod tempor incidiet dolorerserss eerhfre mag.</p>
      </div>
    </div>
    <div class="works-grid col-md-3">
      <img src="images/w4.jpg" title="name" />
      <div class="caption">
        <h4>Title goes here</h4>
        <p>onsectetur adipisicing elit, sedo eiusmod tempor incidiet dolorerserss eerhfre mag.</p>
      </div>
    </div>
    <div class="works-grid col-md-3">
      <img src="images/w5.jpg" title="name" />
      <div class="caption">
        <h4>Title goes here</h4>
        <p>onsectetur adipisicing elit, sedo eiusmod tempor incidiet dolorerserss eerhfre mag.</p>
      </div>
    </div>
    <div class="works-grid col-md-3">
      <img src="images/w6.jpg" title="name" />
      <div class="caption">
        <h4>Title goes here</h4>
        <p>onsectetur adipisicing elit, sedo eiusmod tempor incidiet dolorerserss eerhfre mag.</p>
      </div>
    </div>
    <div class="works-grid col-md-3">
      <img src="images/w7.jpg" title="name" />
      <div class="caption">
        <h4>Title goes here</h4>
        <p>onsectetur adipisicing elit, sedo eiusmod tempor incidiet dolorerserss eerhfre mag.</p>
      </div>
    </div>
    <div class="works-grid col-md-3">
      <img src="images/w8.jpg" title="name" />
      <div class="caption">
        <h4>Title goes here</h4>
        <p>onsectetur adipisicing elit, sedo eiusmod tempor incidiet dolorerserss eerhfre mag.</p>
      </div>
    </div>
    <div class="clearfix"> </div>
  </div>
  <!--//works-grids--->
</div>
</div>
<!----//works ---->



<!---- contact ----->
<div id="contact" class="perfil contact">
  <div class="conatiner">
    <div class="text-center">
      <h2>Perfil Professional</h2>


      <span> </span>
      <div class="row">
        <div class="col-md-6">

          <h4>Maria del Carmen Severino (CPA)</h4>



          <!--- TIMELINE -->

          <div class="text-center">

            <ul class="timeline">
              <li>
                <div class="timeline-panel" style="text-align: right;">
                  <div class="timeline-heading">
                    <h3>2002 - Actual</h4>
                  </div>
                    <p>
                      MCS Consultores Financieros<br/>
                      Socio Director</p>
                </div>
              </li>

              <li class="timeline-inverted">
                <div class="timeline-panel" style="text-align: left;">
                  <div class="timeline-heading">
                    <h3>1993-2002</h3>
                  </div>
                  <div class="timeline-body">
                    <p>
                      Contralor.Tricom, S. A.<br/>
                      Director de Finanzas y Administraci?n
                      </p>
                  </div>
                </div>
              </li>
              <li>
                <div class="timeline-panel" style="text-align: right;">
                  <div class="timeline-heading">
                    <h3>1985-1991.</h4>
                  </div>
                  <p>
                    PriceWaterhouseCoopers. Sto. Dgo., Rep. Dom.<br/>
                    Gerente Auditoria.</p>
                </div>
              </li>

              <li class="timeline-inverted">
                <div class="timeline-panel" style="text-align: left;">
                  <div class="timeline-heading">
                    <h3>1993-2002</h3>
                  </div>
                  <div class="timeline-body">
                    <p>
                      McCann-Erickson Dominicana,S.A.<br/>
                      Director de Finanzas y Administraci?n
                    </p>
                  </div>
                </div>
              </li>


            </ul>
          </div>

          <!--END TIMELINE ONE-->


          </div>
        <div class="col-md-6">
          <h4>Kenia Dorville (CPA)</h4>
          <!--- TIMELINE -->

          <div class="text-center">

            <ul class="timeline">
              <li>
                <div class="timeline-panel" style="text-align: right;">
                  <div class="timeline-heading">
                    <h3>2004 - Actual</h4>
                  </div>
                  <p>MCS
                    Consultores Financieros <br/>
                    Socio Consultor
                </div>
              </li>

              <li class="timeline-inverted">
                <div class="timeline-panel" style="text-align: left;">
                  <div class="timeline-heading">
                    <h3>1999-2004</h3>
                  </div>
                  <div class="timeline-body">
                    <p>
                      Peralta & Asociados, S. A.<br/>
                      Auditor. Horwath, Sotero

                    </p>
                  </div>
                </div>
              </li>


            </ul>
          </div>

          <!--END TIMELINE TWO-->
        </div>
        </div>



   </div>
  </div>
  <!----Contact-form---->
  <div class="Contact-form">
    <div class="send-form text-center">
      <form>
							<span class="text-box1">
								<label>NAME</label>
								<input type="text" value="Enter your name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter your name';}">
							</span>
							<span class="text-box2">
								<label>EMAIL ADDRESS</label>
								<input type="text" value="Enter your Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter your Email';}">
							</span>
							<span class="text-box3">
								<label>MESSAGE</label>
								<textarea>Type yor message</textarea>
							</span>
        <div class="clearfix">
          <input type="submit" value="Submit" />
      </form>
    </div>
  </div>
  <!----Contact-form---->




</div>
<!----//contact ----->
<!----copy-right---->
<div class="copy-right text-center">
  <div class="container">
    <p>Template by <a href="#">W3layouts</a></p>
    <script type="text/javascript">
      $(document).ready(function() {
        /*
         var defaults = {
         containerID: 'toTop', // fading element id
         containerHoverID: 'toTopHover', // fading element hover id
         scrollSpeed: 1200,
         easingType: 'linear'
         };
         */

        $().UItoTop({ easingType: 'easeOutQuart' });

      });
    </script>
    <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
  </div>
</div>
<!---//copy-right---->
</body>
</html>

